<div id="container">
  <div id="initializationControls">
    <div class="main">
      <div class="btn-group action-buttons">
        <div class="btn btn-mini initializeMMU2S" title="Initialize MMU2S">
          <i class="fa"></i> Initialize MMU2S
          </div>
        </div>
    </div>
  </div>
  <div id="filamentControls">
    <div class="main">
      Load Filament
      <div class="btn-group action-buttons">
        <div class="btn btn-mini unloadAllFilament" title="Unload All Filament">
          <i class="fa"></i> Unload All
        </div>
        <div class="btn btn-mini loadFilamentOne" title="Load Filament One">
          <i class="fa"></i> Load Filament 1
        </div>
        <div class="btn btn-mini loadFilamentTwo" title="Load Filament Two">
          <i class="fa"></i> Load Filament 2
        </div>
      </div>
    </div>
  </div>
</div>
